@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gyro Scope</h1>
    <h1>When the planets align!</h1>
    <h2>Entrees</h2>
        <div class="menu-item">
            
        </div>
    <h2>Drinks</h2>
    <div class="menu-item"></div>
    <h2>Sides</h2>
    <div class="menu-item"></div>
    <h2>Treats</h2>
    <div class="menu-item"></div>

</div>
